<div class="indexitem row"> <img class="pull-left col-md-3" style="margin-top:20px;" src="photos/thumb_171x100_festival01.jpg" width="171" height="100" alt="Lionel Hampton Jazz Festival" />
    <div class="col-md-9">
      <h3>The Lionel Hampton Jazz Festival</h3>
      <p>"The Lionel Hampton Jazz Festival will continue to be one of the foremost and significant events of its kind in the world. Built upon first-class jazz artistry, the love of and belief in jazz music and education, the support for teachers in the schools and the enjoyment and satisfaction of the student participants, the Festival continues to flourish with each passing year."</p>
    </div>
  </div>
  <div class="indexitem row"> <img class="pull-left col-md-3" style="margin-top:20px;" src="photos/thumb_171x100_festival02.jpg" width="171" height="100" alt="Students onstage at the Lionel Hampton Jazz Festival" />
    <div class="col-md-9">
      <h3>Student-Artist Interaction</h3>
      <p>"I am amazed at what the quality of the student participants has done to encourage the artists themselves to give the very finest concerts and clinics possible at the Lionel Hampton Jazz Festival. I know this will continue for many years to come in my name."</p>
    </div>
  </div>
  <div class="indexitem row"> {% include item-figure.html objectid="ijcs20646" %} <img class="pull-left col-md-3" style="margin-top:20px;" width="171" height="100" alt="Lionel Hampton Jazz Festival" />
    <div class="col-md-9">
      <h3>Jazz in the Schools</h3>
      <p>"It is important for the Lionel Hampton Jazz Festival to continue to reach out to students through its successful Jazz in the Schools Program. My commitment and dedication to this program has continued since its very first year, allowing me to share my love for jazz with the many incredible students who represent the future of this music."</p>
    </div>
  </div>
  <div class="indexitem row"> {% include item-figure.html objectid="ijcs20646" %} <img class="pull-left col-md-3" style="margin-top:20px;" width="171" height="100" alt="Lionel Hampton Jazz Festival" />
    <div class="col-md-9">
      <h3>The Lionel Hampton School of Music</h3>
      <p>"It is my goal for the Lionel Hampton School of Music to become one of the top music schools in the world. I am thrilled to see them offer a program in the development of jazz studies that will affect future educators and artists as well as the marvelous classical music students that I have so enjoyed through the years. I also remain encouraged by the incredible jazz performances I have heard from the jazz choirs, the jazz bands, jazz combos and soloists. We are on the right track at the Lionel Hampton School of Music."</p>
    </div>