---
layout: default
---

<div class="col-md-9">
    <p><br />
      <br />
      &#8220;We all recognized Hamp&#8217;s greatness the very first day we went to rehearsal.&#8221;<br />
    </p>
    <p class="pull-right">-- Louis Armstrong<br />
      <br />
    </p>
    <br />
  </div>
</div>
<div class="indexitem row">
  <div class="pull-left col-md-3"><img  style="margin-top:0px;" src="photos/thumb_quincy_jones.jpg" width="95" height="95" alt="Quincy Jones" /> </div>
  <div class="col-md-9">
    <p>&#8220;It is difficult to find the words to describe the deep sadness that I have today. In our more than 50-year relationship&hellip; Lionel Hampton was a mentor, collaborator and friend to me. Hamp was the consummate jazz artist&hellip; I cut my teeth writing arrangements for Lionel Hampton, and there was no better school in the world than the Lionel Hampton Orchestra. He taught me how to groove and how to laugh and how to hang and how to live like a man.&#8221;</p>
    <p class="pull-right">-- Quincy Jones <br />
      <span class="smalltxt">Photograph courtesy of Quincy Jones</span></p>
  </div>
</div>
<div class="indexitem row">
  <div class="pull-left col-md-3"><img  style="margin-top:0px;" src="photos/thumb_james_moody.jpg" width="95" height="95" alt="James Moody" /> </div>
  <div class="col-md-9">
    <p>&#8220;I remember once I went by the Paramount Theater in New York, and Hamp&#8217;s Big Band was playing there. I had my horn with me and Hamp asked me to come out and play the last number, &#8216;Flying Home.&#8217 They didn&#8217;t tell me that at the end, an explosion would go off and smoke would fill the stage. I&#8217;ve always laughed about that&hellip; Lionel was always learning, always trying something new. He was always thinking about doing something different, musically&hellip; Every time on the bandstand, I would learn something just listening to Hamp. Gates, he&#8217;s something else.&#8221;</p>
    <p class="pull-right">-- James Moody</p>
  </div>
</div>
<div class="indexitem row">
  <div class="pull-left col-md-3"><img  style="margin-top:0px;" src="photos/thumb_david_friesen.jpg" width="95" height="95" alt="David Friesen" /> </div>
  <div class="col-md-9">
    <p>&#8220;As long as I can remember, I have known the name of Lionel Hampton. He was always a symbol for this great art form, along with the other greats: Dizzy Gillespie, Charlie Parker and Miles Davis, to name a few&hellip; I first saw Lionel in person in the late 1970s&hellip; here was a man that had truly been blessed, not only with the gift of playing music, but also the ability to communicate his love for the music to so many people.&#8221;</p>
    <p class="pull-right">-- David Friesen</p>
  </div>
</div>
<div class="indexitem row">
  <div class="pull-left col-md-3"><img  style="margin-top:0px;" src="photos/thumb_bill_charlap.jpg" width="95" height="95" alt="Bill Charlap" /> </div>
  <div class="col-md-9">
    <p>&#8220;I remember well the first time I became aware of Lionel Hampton&#8217;s genius. I was a freshman in high school and I heard his recording with Art Tatum&hellip; I had never heard anything like it. Of course, Lionel Hampton is one of the great artists and musicians of all time, a great band leader and without question, the focal figure on his instrument&hellip; Here&#8217;s to you, Hamp. Thanks for all the great music.&#8221;</p>
    <p class="pull-right">-- Bill Charlap</p>
  </div>
</div>
<div class="indexitem row">
  <div class="pull-left col-md-3"><img  style="margin-top:0px;" src="photos/thumb_freddy_cole.jpg" width="95" height="95" alt="Freddy Cole" /> </div>
  <div class="col-md-9">
    <p>&#8220;I was named after Lionel, and I wear that name proudly. My name is Lionel Frederick Cole. There are so many accolades about Lionel and all of them are true. As long as there&#8217;s music, there will be a Lionel Hampton.&#8221;</p>
    <p class="pull-right">-- Freddy Cole</p>
  </div>
</div>
<div class="indexitem row">
  <div class="pull-left col-md-3"><img  style="margin-top:0px;" src="photos/thumb_ronnie_cuber.jpg" width="95" height="95" alt="Ronnie Cuber" /> </div>
  <div class="col-md-9">
    <p>&#8220;Thinking about the times I was on the road with Hamp and I can assure you one thing: when we got on that bandstand it was pure swing. No matter how far we traveled or how tired the band was, Hamp made you swing till you dropped&hellip; I remember we&#8217;d get off a 500 miles bus trip and Hamp would call a rehearsal&hellip; Hamp just loved to play.&#8221;</p>
    <p class="pull-right">-- Ronnie Cuber</p>
  </div>
</div>
</div>
</div>
</div>
</div>