<div class="indexitem" style="text-align: center">
    <h3>Final Public Performance (2002)</h3>
<div class="indexitem">
        <p>Leading his big band at the Lionel Hampton Jazz Festival, with special tributes by Quincy Jones, Former President George Bush and UI President Bob Hoover.</p>
        </div>
        <p>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/Wqh3EF8zYMc" frameborder="0" allowfullscreen></iframe>
        </p>
    </div>
  
<div class="indexitem" style="text-align: center">
    <h3>Taking Jazz to the Schools (1999)</h3>
    <p>Working with students at Lapwai Elementary School in Idaho.</p>
   <iframe width="420" height="315" src="https://www.youtube.com/embed/w1ictrXuqP8" frameborder="0" allowfullscreen></iframe>
  </div>
  
  <div class="indexitem" style="text-align: center">
    <h3>Reaching a New Generation (1995)</h3>
    <p>A teaching session at the University of Idaho with student DeWaylon McCoy.</p>
   <iframe width="420" height="315" src="https://www.youtube.com/embed/eIvx4HdE6oM" frameborder="0" allowfullscreen></iframe>
  </div>
  
  <div class="indexitem" style="text-align: center">
    <h3>The "Vibes President" (1994)</h3>
    <p>Hamp's introduction at the 1994 Lionel Hampton Jazz Festival.</p>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/z79tTFKJkJE" frameborder="0" allowfullscreen></iframe>
  </div>
  
  <div class="indexitem" style="text-align: center">
    <h3>In Performance (1992)</h3>
    <p>With the University of Idaho Jazz Choir.</p>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/nyFmHqKzqdk" frameborder="0" allowfullscreen></iframe>
  </div>
  
  <div class="indexitem" style="text-align: center">
    <h3>In Performance (1988)</h3>
    <p>Part of a live solo performance recorded at the University of Idaho.</p>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/WhpaFVjx8mg" frameborder="0" allowfullscreen></iframe>
  </div>
  
  <div class="indexitem" style="text-align: center">
    <h3>The Lionel Hampton School of Music Dedication (1987)</h3>
    <p>Hamp's comments at the dedication of the Lionel Hampton School of 
      Music</p>
   <iframe width="420" height="315" src="https://www.youtube.com/embed/_blm82QUOX8" frameborder="0" allowfullscreen></iframe>
  </div>
  
  <div class="indexitem" style="text-align: center">
    <h3>Music is My Salvation (1987)</h3>
    <p>Comments on the importance of music.</p>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/3gQWAtRgNG8" frameborder="0" allowfullscreen></iframe>
  </div>